<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div b-g4ehzqngks="" class="container">
    <nav b-g4ehzqngks="" class="mt-2">
        <a class="btn btn-primary" href="/Contact">Join Us</a>
        <a class="btn btn-secondary" href="/Blog">Blog</a>
        <a class="btn btn-warning" href="/Blog/RSS2">RSS 2.0 Feed</a>
    </nav>
    <main b-g4ehzqngks="" role="main" class="pb-3">
        <h2>Blog</h2>


    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>Ludwig Freytag Group</span> <span class="text-secondary">Views: 66945</span></div>
        <div class="card-body">
            <p>Ludwig Freytag Group</p><p>450 GB data will be published&nbsp;</p><figure class="image"><img src="/Image/800035d3-4439-4471-bc69-30e51b2a18ee/637915288094522400/0"></figure><figure class="image"><img src="/Image/800035d3-4439-4471-bc69-30e51b2a18ee/637915288094522400/1"></figure><figure class="image"><img src="/Image/800035d3-4439-4471-bc69-30e51b2a18ee/637915288094522400/2"></figure><figure class="image"><img src="/Image/800035d3-4439-4471-bc69-30e51b2a18ee/637915288094522400/3"></figure><figure class="image"><img src="/Image/800035d3-4439-4471-bc69-30e51b2a18ee/637915288094522400/4"></figure>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>Unicity International</span> <span class="text-secondary">Views: 157176</span></div>
        <div class="card-body">
            <p>Unicity International prescribes health and wealth. Unicity distributes nutritional supplements and skin care products through a multilevel marketing network of independent contractors who sell direct to consumers. Unicity's products include Bios Life branded weight management products, and a variety of herbal remedies for allergies, anti-aging, diabetes, digestive problems, heart health, and stress reduction. As a management-controlled entity, Unicity operates offices in about 20 locations and sells its products in more than 30 countries.</p><figure class="image"><img src="/Image/eed06792-b835-4ee5-be47-f6166f9ea732/637871851581941120/0"></figure><figure class="image"><img src="/Image/eed06792-b835-4ee5-be47-f6166f9ea732/637871851581941120/1"></figure><figure class="image"><img src="/Image/eed06792-b835-4ee5-be47-f6166f9ea732/637871851581941120/2"></figure><figure class="image"><img src="/Image/eed06792-b835-4ee5-be47-f6166f9ea732/637871851581941120/3"></figure><figure class="image"><img src="/Image/eed06792-b835-4ee5-be47-f6166f9ea732/637871851581941120/4"></figure><figure class="image"><img src="/Image/eed06792-b835-4ee5-be47-f6166f9ea732/637871851581941120/5"></figure><p>&nbsp;</p><p>&nbsp;</p>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>www.oil-india.com</span> <span class="text-secondary">Views: 211038</span></div>
        <div class="card-body">
            <p>Website Website: www.oil-india.com&nbsp;</p><p>Employees Employees: 7,100</p><p>Revenue Revenue: $3 Billion Stock Symbol Stock Symbol: OIL&nbsp;</p><p><a href="https://www.zoominfo.com/c/oil-india-limited/351747374">https://www.zoominfo.com/c/oil-india-limited/351747374</a></p><p>data part1 for now:</p><p><a href="http://65x5syrn4gmgfnicrhyfwkokw5x3xipxer2z4vhhckrh756v6m5272qd.onion">http://65x5syrn4gmgfnicrhyfwkokw5x3xipxer2z4vhhckrh756v6m5272qd.onion</a></p><p>data part 2,3,4 in process.</p><p>If Oil India won't continue negotiation process - we will begin publishing internal documentation, contracts, clients information and corporate messaging chats</p><p>&nbsp;</p><figure class="image"><img src="/Image/c206bd98-004f-4295-9533-4c4cb48d6ca2/637868869663418740/0"></figure><figure class="image"><img src="/Image/c206bd98-004f-4295-9533-4c4cb48d6ca2/637868869663418740/1"></figure><figure class="image"><img src="/Image/c206bd98-004f-4295-9533-4c4cb48d6ca2/637868869663418740/2"></figure><figure class="image"><img src="/Image/c206bd98-004f-4295-9533-4c4cb48d6ca2/637868869663418740/3"></figure><figure class="image"><img src="/Image/c206bd98-004f-4295-9533-4c4cb48d6ca2/637868869663418740/4"></figure><figure class="image"><img src="/Image/c206bd98-004f-4295-9533-4c4cb48d6ca2/637868869663418740/5"></figure>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>Stratford University</span> <span class="text-secondary">Views: 201656</span></div>
        <div class="card-body">
            <p>Stratford University is a 4 year institution of higher education offering both online and in-classroom educational services.</p><p>We have about 60 gigabytes of files, financial reports, student passports and social numbers, staff data and a lot of other important information.<br>Unless the university is willing to fix the error that caused the leak, all the data will go online.<br>&nbsp;</p><figure class="image image_resized" style="width:84.42%;"><img src="/Image/bb9ced79-3e79-4649-8fcc-3d4295fabc08/637862579851681110/0"></figure><figure class="image"><img src="/Image/bb9ced79-3e79-4649-8fcc-3d4295fabc08/637862579851681110/1"></figure><p>First pack of data</p><p>2wub3njb7zvmnn6xohbuizjcbvy4w5dvlb4puesry3rrl6gx4452ezid.onion</p>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>Visotec Group www.visotec.com</span> <span class="text-secondary">Views: 210885</span></div>
        <div class="card-body">
            <p>Visotec Group&nbsp;</p><p>https://www.visotec.com</p><p><span style="background-color:rgb(255,255,255);color:rgb(0,0,0);">VISOTEC provides corporate visual identity solutions to the world's leaders of their business areas. We support multinational organisations in expressing their values, ambitions and characteristics via external signage.</span></p><p>Employees:<span style="color:rgb(34,51,54);">120</span><br>Revenue:<span style="color:rgb(34,51,54);">$24 Million</span></p><p><span style="color:rgb(34,51,54);">http://e7a2uvl3jp2nn3gawdlla36tcfuwu2n5gmovbxvoqqd6rsirh3kvm4id.onion/</span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>CYMZ </span> <span class="text-secondary">Views: 228185</span></div>
        <div class="card-body">
            

We have downloaded more than 200 GB of your data, financial documents, contracts, etc.












        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>Asfaltproductienijmegen</span> <span class="text-secondary">Views: 228452</span></div>
        <div class="card-body">
            https://mega.nz/folder/tbwWnQRB#6TYVlgRyNT4CveQO8viXug/folder/YKZ13SbI - General company info


        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>South Carolina Legal Services breach</span> <span class="text-secondary">Views: 229400</span></div>
        <div class="card-body">
            South Carolina Legal Services (sclegal.org) was successfully hacked.
We got all sensitive info of they clients (SSN + DOB + court case etc) get all they databases.
Also we downloaded all financial info and employers personal data.

If you think they are worry about your personal data - no they don't. In private talk they tell us what the clients can fuck them self, we don't worry about data leak and there nothing to discuss.
So if you a looking for a good legal services - don't use they services if you don't want what yours private data will be shared to everyone. 

Some proofs, (all data will be sold on dark market): 









We have all client cases about Domestic Violence, Bankruptcy, Rapists etc, and we are ready to share all that info with you. 
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>ECKERD PERU S.A, INKAFARMA, MIFARMA</span> <span class="text-secondary">Views: 214778</span></div>
        <div class="card-body">
            Passports, financial documents, agreements, plans etc. 200GB.
If Company doesn't communicate with us, we'll publish the data!


















        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between"><span>lstaff.com / atworksprofessional / atworks.com</span> <span class="text-secondary">Views: 229186</span></div>
        <div class="card-body">
            We downloaded whole file server, there are:
-thousands of CVs,
-employee personal information(BIO, phones, DOB,SSN), 
-project information, 
-(cyber)insurance information,
-finance reports and so on. 

1st  pack (2K CVS, 700 SSN, 800 DL) Download link: https://privatlab.org/s/v/4jjxzReyRgCj6lrn5yOd


Samles attached. 



 




        </div>
    </div>

<nav class="mt-3">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="/Blog/0">First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="/Blog/0">Previous</a>
        </li>
            <li class="page-item"><a class="page-link active" href="/Blog/0">1</a></li>
            <li class="page-item"><a class="page-link " href="/Blog/1">2</a></li>
            <li class="page-item"><a class="page-link " href="/Blog/2">3</a></li>
        <li class="page-item ">
            <a class="page-link" href="/Blog/1">Next</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="/Blog/25">Last</a>
        </li>
    </ul>
</nav>

    </main>
</div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    


</body>